<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css">
</head>
<body style="margin: 0 2em; min-height: 600px;">
<a href="/" style="text-decoration: none;">
    <h1 style="text-align: center;">Filmothèque</h1>
</a>
<form action="/action-ajouter-film" style="max-width: 400px; margin: auto;" th:object="${film}" method="post">
    <div class="alert alert-danger" role="alert" th:if="${erreur}" th:text="${erreur}"></div>
    <div class="form-group">
        <label for="titre"></label>
        <input class="form-control" type="text" placeholder="Titre" id="titre">
    </div>
    <div class="form-group">
        <label for="annee"></label>
        <input class="form-control" type="number" placeholder="Année" id="annee">
    </div>
    <div class="form-group">
        <label for="duree"></label>
        <input class="form-control" type="number" placeholder="Durée" id="duree">
    </div>
    <div class="form-group">
        <label for="synopsis"></label>
        <input class="form-control" type="text" placeholder="Synopsis" id="synopsis">
    </div>
    <input class="btn btn-primary" type="submit">
</form>
</body>
</html>