<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
</head>
<body>
    <form method="post" action="/action-ajouter-film">
      <input class="form-label mt-4" type="text" name="titre" placeholder="Titre">
      <input class="form-label mt-4" type="number" name="annee" placeholder="Année">
      <input class="form-label mt-4" type="number" name="duree" placeholder="Durée">
      <input class="form-label mt-4" type="text" name="synopsis" placeholder="Synopsis">
      <input class="btn btn-primary" type="submit">
    </form>
</body>
</html>